
.nbutton_container{
    /* margin: 10px; */
    align-items: center;
    display: flex;
}
.nbutton{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
.nMenu_Icon{
 margin: 0px 5px;
 width: 15px;
}