.text_links_a{
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px;
}


@media screen and (max-width:600px) {

    .text_links_a{
        justify-content: center;
    }
}