
.Dashboard_User_Profile{
    display: flex;
    align-items: center;
}
.Dashboard_Dp{
    margin: 5px;
}

.Dashboard_Product_container{
    display: flex;
    width: 50vw;
}
.Dashboard_container_2_2_mini{
    margin: 0px;
    padding: 0px;
}
.DashboardOnBanner{
    position: fixed;
    margin: 40px;
    font-size: 200%;
    display: flex;
    /* justify-content: space-between; */
}
.dashboardOnbannerimage{
    width: 30%;
    height: 30%;
    margin: 0px 50px;
    border-radius: 100%;
}
@media screen and (max-width:600px) {
    .dashboardOnbannerimage{
        display: none;
    }
    .DashboardOnBanner{
        /* font-size: 20px; */
    }
    .Dashboard_productcontainermini{
        /* width: 100vw; */
        /* height: 10px; */
        margin:10px;
    }
    .Dashboard_Product_container{
        display: inline;
        /* width: 50vw; */
    }
}