.text_paragraph_lite{
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    display: flex;
    padding: 0px;
    justify-content: start;
    text-align: start;
}


@media screen and (max-width:600px) {

    .text_paragraph_lite{
        justify-content: start;
        font-size: 14px;
        margin: 5px;

    }
}