.Dashboard_container_1{
    /* background-color: blue; */
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}
.Dashboard_container_2{
    /* background-color: red; */
    display: flex;
    height: 100vh;
}
.Dashboard_container_2_1{
    /* background-color: gray; */
    border: 1px solid rgb(221, 219, 219);
    padding: 25px;
    width: 300px;

}
.Dashboard_container_2_1{
    /* background-color: green; */
    display: inline;
    text-align: center;
    width: 300px;
    height: 100%;
}
.Dashboard_Menu_button{
    margin: 20px;
}
.Dashboard_Menu_Heading_container{
    display: flex;
    align-items: center;
}
.Dashboard_Menu_Heading_container_mini{
    display: flex;
    align-items: end;
}
.Dashboard_SearchBar{
    display: flex;
    align-items: center;
    width: 50vw;
    /* width: 100%; */
}
.Dashboard_User_Profil{
    display: flex;
    align-items: center;
}
.Dashboard_Dp{
    /* p: 20px; */
    width: 30px;
    border-radius: 100px;
    background-color: rgb(19, 19, 19);
}
.Dashboard_container_2_2{
    margin: 2%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 100vw;
    /* background-color: red; */
}
.Dashboard_container_2_1_celo{
    /* background-color: green; */
    display: none;
}


@media screen and (max-width:600px) {

    .Dashboard_container_2_1{
        /* background-color: green; */
        display: none;
    }
    .Dashboard_container_2_1_celo{
        /* background-color: green; */
        display: inline;
        position: absolute;
        background-color: rgb(233, 233, 233);
        height: 100vh;
        z-index: 100;
        width: 50vw;
        padding: 10px;
        /* font-size: 18px; */
    }
    .Dashboard_User_Profil{
        display: none;
    }
    .Dashboard_Menu_Heading_container_mini{
        /* display: none; */
    }
    .Dashboard_container_2_2{
        display: flex;
        justify-content: center;
        text-align: center;
        /* align-items: center; */
    }
}