
.buttonlink_container{
    align-items: center;
    display: flex;
    padding: 10px 30px;
    border-radius: 5px;
    /* width: 80%; */

}
.buttonlink:hover{
    cursor: pointer;
}
.buttonlink_image{
    width:20px;
    margin-right:10px;
    fill: white;
}

@media screen and (max-width:600px) {
    .buttonlink{
        margin: 10px;
    }
    .buttonlink_image{
        width:20px;
    }
    .buttonlink_container{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 5px 30px;
        border-radius: 5px;
        border: none;
        /* width: 100%; */
    }
    .buttonlink_container_mini{
        width: 60vw;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    
}