.SignIn_main_container{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 5%;
    align-items: center;
}
.SignIn_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    width: 400px;
}
.SignIn_mini_container{
    /* background-color: rgb(124, 76, 76); */
    border: 1px solid rgb(201, 196, 196);
    padding: 50px;
    border-radius: 10px;
    margin: 5px;
}
.Signin_link_container{
    display: flex;
    width: 300px;
    align-items: end;
    justify-content: end;
    text-align: end;

}
.SignIn_Next_button{
    display: flex;
    justify-content: end;
    width: 100%;
    /* height: 50px; */
}

@media screen and (max-width:600px) {
    .SignIn_container{
        justify-content: center;
    }
    .SignIn_mini_container{
        border: none;
        width: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Signin_link_container{
        display: inline;
    }
    .SignIn_Next_button{
        display: flex;
        justify-content: end; 
        width: 90vw;
    }
}