.submit_button{
    padding:8px  20px;
    margin: 0px;
    border: none;
    border-radius: 5px;
}
.submit_button:hover{
    cursor: pointer;
}
.submit_button_text{
    padding: 0px;
    margin: 0px;
}


@media screen and (max-width:600px) {

    .submit_button{
        justify-content: center;
        width: 80vw;
    }
}