
.Product_Main_Container{
    width: 200px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow:rgb(202, 199, 199) 0px 5px 5px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    height: 200px;
}
.Product_mini_container{
    display: flex;
    align-items: center;
}
.Product_image{
    margin: 10px 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.Product_Paragraph{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.Product_Get_Button{
    /* display: flex;
    justify-content: center; */
    margin: 10px 0px;
    /* width: 200px; */
    /* background-color: blue; */
}
.Product_Main_ContainerM{
    display: flex;
}
@media screen and (max-width:600px) {
    .Product_Main_Container{
        width: 80%;
        min-height: 200px;
        border: none;
        box-shadow: none;
        margin: 0px;
        /* padding: 20px; */
    }
    .Product_image{
        margin: 20px 0px;
        width: 70px;
        height: 60px;
        border-radius: 5px;
    }
    .Product_Main_ContainerM{
        display: inline;
    }
    .Product_Get_Button{
        text-align: end;
        width: 120px;
        /* padding: 10px 100px; */
    }
}