.comming_soon_container{
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
    text-align: center;
    /* bottom: -200; */
    width: 60vw;
    /* margin: 0px; */
    /* opacity: .5; */
}

.comming_soon_image{
    /* justify-content: start; */
    /* position: absolute; */
    width: 250px;

}
@media screen and (max-width:600px) {

    .comming_soon_image{
        /* justify-content: start; */
        width: 100px;
        /* margin: 5px; */

    }
}